# NB - The matlab engine is finicky (ie, proprietary code)
#   and requires manual installation. Don't attempt using the
#   `-e` flag on pip install!
# matlabengine
flask
flask-cors
gunicorn
numpy
pandas
scikit-learn
shap
