{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-2">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron">
            <h1 class="text-center">EHR&nbsp;</h1>
<p class="text-center">Detailed Info lines</p>
            <img src="{% static 'images/1200X400.gif' %}" alt="" class="img-fluid"> 
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="text-center col-md-6 col-12">
          <h3>How to use&nbsp;&nbsp;</h3>
          <p>Here gives&nbsp;graphic operation guide &nbsp;</p>
          <a class="btn btn-danger btn-lg" href="#" role="button">Tutorials</a>
        </div>
        <div class="text-center col-md-6 col-12">
          <h3>Samples</h3>
          <p>Here gives sample files</p>
          <a class="btn btn-info btn-lg" href="#" role="button">Documentation</a>
        </div>
      </div>
    </div>
    <hr>
<div class="container text-center">
	<h3>Get Started</h3>
  <p class="text-center"> &nbsp;Upload your own data from here!</p>
  <form action="{{ EHR_UPLOAD }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="file" name="files" id="files"></p>
    <p><input type="submit" value="confirm and submit"></p>
    {% if ehr_result %}
    <h6>
      Results: {{ ehr_result }}
    </h6>
    {% endif %}
  </form>


  <!-- TODO: The following section is an absolute mess at the moment. I will circle
  back on bootstrap being a pain later.  -->

  <!-- <a class="btn btn-lg btn-outline-info" href="#" role="button" action="{{ EHR_UPLOAD }}" -->
    <!-- <div class="btn btn-lg btn-outline-info" > -->
    <!-- <div class="btn btn-lg btn-outline-info" >
      <label for="form" class="formFile">
      <input class="file" type="file" id="files" href="{{ EHR_UPLOAD }}" 
      method="post" enctype="multipart/form-data">
    </div> -->
  <!-- <form action="{{ EHR_UPLOAD }}" method="post" enctype="multipart/form-data"> -->
    <!-- <div class="btn btn-lg btn-outline-info">
      <label class="btn btn-primary" for="formFile">
        <input id="files" type="file" class="formFile">
        Upload
      </label> -->
    <!-- <a class="btn btn-lg btn-outline-info" 
    input type="file" name="files" id="files"
    action="{{ EHR_UPLOAD }}" 
    method="post" enctype="multipart/form-data">Upload</a>     -->
    <!-- <input class="btn btn-lg btn-outline-info" type="submit" value="Submit" action="{{ EHR_UPLOAD }}"
      method="post" enctype="multipart/form-data"> -->
    <!-- <a class="btn btn-lg btn-outline-info"
    input type="submit" action="submit">Confirm and submit</a> -->
  <!-- <input type="submit" value="confirm and submit"> -->
  <!-- <p>Files：<input type="file" name="files" id="files"></p> -->
</div>
<hr>
    <section>
      <h2 class="text-center">Video Tutorial</h2>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lFqDM_YlXV8"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}