{% extends "base.html" %}
{% load static %}

{% block content %}
    <section>
      <div class="jumbotron text-center mt-2">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>Welcome to PredictMod!</h1>
              <p>PredictMod is a machine learning-based application that predicts whether a patient.
                will respond to an intervention based on Electronic Health Records (EHR) or 
                metagenomic data.
              </p>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1>Usage info</h1>
            <p>&nbsp;Details</p>
          </div>
        </div>
      </div>
    </section> -->
<section>
  <!-- <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Function entrance</h2>
</div> -->
        </div>
        <div class="row">
          <div class="col-md-6 col-12 text-center">
            <img class="img-fluid" src="{% static 'images/EHR.png' %}" alt="">
            <h4><a href="/EHR/">Electronic Health Record (EHR) information and analysis</a></h4>
          </div>
          <div class="col-md-6 col-12 text-center mt-md-0 mt-2">
            <img class="img-fluid" src="{% static 'images/genome-2.jpg' %}" alt="">
            <h4><a href="/MG/">Metagenomic information and analysis&nbsp;</a></h4>
          </div>
        </div>
<hr>
</div>
    </section>
{% endblock %}
